<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operator Check Data</title>
    <link rel="stylesheet" href="{% static 'css/operator.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </div>
            <ul>
                <li><a href="{% url 'operator_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'operator_check_data' %}">Check Data Material</a></li>
                <li><a href="{% url 'operator_download_data' %}">Download Data</a></li>
            </ul>
        </div>
        <div class="main-content">
            <header>
                <h2>Check Data Material</h2>
                <div class="user-wrapper">
                    <img src="{% static 'img/profile.png' %}" width="40px" height="40px" alt="profile picture">
                    <div>
                        <h4>Operator</h4>
                        <small>Operator</small>
                    </div>
                </div>
            </header>
            <main>
                <div class="form-container">
                    <form action="{% url 'operator_compare_data' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="warehouse_data">HU Warehouse</label>
                            <input type="file" name="warehouse_data" id="warehouse_data" required>
                        </div>
                        <div class="form-group">
                            <label for="production_data">HU Production</label>
                            <input type="file" name="production_data" id="production_data" required>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-save">Submit</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
