<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="{% static 'css/supervisor.css' %}">
</head>
<body>
    <div class="dashboard-container">
        {% include 'partials/sidebar.html' %}
        <div class="main-content">
            <header>
                <h2>Division / View</h2>
                <div class="user-wrapper">
                    <img src="{% static 'images/user.png' %}" width="30px" height="30px" alt="User">
                    <div>
                        <h4>{{ user.username }}</h4>
                        <small>Supervisor</small>
                    </div>
                </div>
            </header>
            <main>
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.username }}</td>
                                <td>******</td>
                                <td>{{ user.get_role_display }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</body>
</html>
