<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requested Material</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/styles.css' %}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <img src="{% static 'myapp/assets/logo.png' %}" alt="Logo">
            <p>Warehouse Panel</p>
        </div>
        <ul>
            <li><a href="{% url 'warehouse_dashboard' %}"><img src="{% static 'myapp/assets/dashboard.png' %}" alt="Dashboard"> Dashboard</a></li>
            <p>Menu</p>
            <li><a href="{% url 'warehouse_requested_material' %}"><img src="{% static 'myapp/assets/group.png' %}">View</a></li>
            <li><a href="{% url 'warehouse_send_data' %}"><img src="{% static 'myapp/assets/group.png' %}">Send Data Material</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h1>Requested Material</h1>
            <div class="user-profile">
                <span>Warehouse</span>
                <img src="{% static 'myapp/assets/pp.png' %}" alt="Profile Picture" class="profile-pic">
                <img src="{% static 'myapp/assets/vector.png' %}" alt="Settings" class="settings-icon">
            </div>
        </div>
        <div class="content-wrapper">
            <h2>Requested Material</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Material Name</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material_request in materials %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ material_request.material.name }}</td>
                            <td>{{ material_request.quantity }}</td>
                            <td><a href="{% url 'warehouse_send_data' material_request.id %}" class="btn btn-send">Send</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button id="toggleSidebar" onclick="toggleSidebar()">☰</button>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</body>
</html>
